<ul class="nav nav-list">
    <li class="nav-header">Categories:</li>
    {% for key, taxonomyNode in taxonomyNodes %}
        <li><a href="{{ routes[key] }}">{{ taxonomyNode.path }}</a></li>
    {% endfor %}
</ul>
